body{
    background: #FEFEFE;
    font-family: "Convection", "Sarabun", san-serif;
}
h1,h2,h3,h4,h5{
    font-family: "Convection", "Sarabun", san-serif;
    font-weight: Lighter
}

#page-content{
    padding: 0 clamp(10px,calc(2 * 2vw),60px);
}

.left-right-audiometry-container{
    display: grid;
    grid: auto/ 1fr 1fr;
    column-gap:2em;
}

.dash-dropdown{
    min-width: 300px;
}