body{
    background: #FEFEFE;
    font-family: "Convection", "Sarabun", san-serif;
}
h1,h2,h3,h4,h5{
    font-family: "Convection", "Sarabun", san-serif;
    font-weight: Lighter
}

#page-content{
    padding: 0 clamp(10px,calc(2 * 2vw),60px);
}

.left-right-audiometry-container{
    display: grid;
    grid: auto/ 1fr 1fr;
    column-gap:2em;
}

.dash-dropdown{
    min-width: 300px;
}

button{
    outline:none;border:none;
    margin:0.5em 0;
    padding:0.5em 1em;
    transition:color 0.5s ease,background 0.5s ease;
}

button:hover{
    background: #343a40;
    color:white;
}

a.button{
    outline:none;border:none;
    display:inline-block;
    text-decoration:none;
    margin:0.5em 0;
    padding:0.5em 1em;
    background:rgb(239, 239, 239);
    transition:color 0.5s ease,background 0.5s ease;
}

a.button:hover{
    background: #343a40;
    color:white;
}